html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--cinza-mais-mais-claro) !important;
}

.main-content {
  flex: 1;
}

.hr {
  margin-top: -0.4em;
}

.botao {
  border-bottom: 10px !important;
}

.botao:hover {
  background-color: var(--cinza-claro) !important;
  color: var(--preto);
}

.continue {
  margin-top: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer !important;
}

.continue:hover {
  opacity: 70%;
}

.roboto {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
